@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    margin: 0 auto;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    width: 1410px;
    margin: 0 auto;
    padding: 0 auto;

}

@import 'blocks/menu';
@import 'blocks/promo';